@import "materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

span {
  color:black;
}

.todo {
  margin-bottom: 1.5rem;

}

.todo.status span {
  text-decoration: line-through;
  color:cadetblue;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: rgb(202, 211, 217);
  padding: 1rem;


}

.todo i {
  z-index: 2;
}